{
    "compact": false,
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["@babel/plugin-transform-modules-umd", {
            "exactGlobals": true,
            "globals": {
                "index": "carmen"
            }
        }],
        ["add-header-comment", {
            "header": ["eslint-disable"],
            "commentStart": " ",
            "commentLineStart": "",
            "commentEnd": " ",
        }],
    ]
}
